body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: darkblue;
  font-size: 40px;
}

p {
  color: black;
  font-size: 20px;
}
nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}
